{
  "presets": ["es2015", "env", "stage-2", "@babel/polyfill"],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}