.notes-box {
    display: flex;
    flex-direction: column;
    background: rgba(79, 192, 232, .11);
    border-left: 2px solid #0ba4da;
    padding: 20px;
}

.notes_title {
    font-size: 16px;
    color:#0ba4da;
}

.notes_content {
    padding: 10px 0 0 20px;
}

.notes_content p{
    margin: 5px 0;
    color: #0ba4da;
    font-size: 13px
}